.statistics__title {
	margin-top: 25px;
	text-align: center;
}

ul {
	list-style: none;
}

.statistics__card {
	border: solid 5px red;

	border-radius: 20px;

	width: 250px;
	margin-left: auto;
	margin-right: auto;
}

.profile__name,
.profile__tag,
.profile__location {
	margin-top: 0;
	text-align: center;
}

.statistics__header {
	text-align: center;
}
